<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="refresh" content="2"> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🐾 QkyLuvYip - Discord Attachment Fetcher</title>
    <meta property="og:title" content="🐾 QkyLuvYip - Discord Attachment Fetcher">
    <meta property="og:description" content="As the title said">
    <script>
    // Please Use HTTPS :D
    if (location.protocol !== 'https:' && !(location.protocol === "file:") && !(location.host.match(/(localhost|\d+)/gi))) {
        location.replace(`https:${location.href.substring(location.protocol.length)}`);
    }
    </script>
    <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <link href="style.css" rel="stylesheet">
    <script>
    function gq(n, u = window.location.href) { n = n.replace(/[\[\]]/g, '\\$&'); var r = new RegExp('[?&]' + n + '(=([^&#]*)|&|#|$)'), res = r.exec(u); if (!res) return ''; if (!res[2]) return ''; return decodeURIComponent(res[2].replace(/\+/g, ' ')); }
    function pq(p){
        return Object.keys(p).map(k => `${encodeURIComponent(k)}=${encodeURIComponent(p[k])}`).join('&');}
    </script>
    <script>
    window.API_REQUEST_URL = gq("host")?`http://${gq("host")}` : "https://qkyiff.herokuapp.com"
    </script>
    <!-- <script>window.API_REQUEST_URL = "http://localhost:3031"</script> -->
    <script src="script.js"></script>
</head>
<body>
    <noscript>
        <div style="position: fixed;top:0;left: 0;z-index: 10000;width: 100%;">
            <div style="text-align:center;padding: 10px;background: #ff1e1e83;color:#fff">
                <h1>Scripting is disabled!. Really!? how is this page will work if you disabling the script!</h1>
            </div>
        </div>
    </noscript>
    <div class="navbar" id="navbar">
        <div class="content flex">
            <span v-on:click="clickToExist()" class="three-line">&#9776;</span> <h1>🐾 QkyLuvYip</h1>
        </div>
    </div>
    <div class="sneakymodal" id="vue-modals">
        <the-modal></the-modal>
    </div>
    <div>
        <v-app class="main">
        <div id="the-main-nav" v-bind:class="`layout-main ${isPhoneExist?'':'hide'}`">
            <div class="the-box-gui">
                <div class="content">
                    <h1>🐾 QkyLuvYip</h1>
                    <p>View every attachment in every discord channels (By that, its mean, the servers that this bot join! You can suggest me a good nsfw server so i can add it to here xD)</p>
                </div>
                <hr/>
                <div class="content">
                    <h3><span v-on:click="fullscreenGoesBrr()">OwO</span> Whats this?</h3>
                    <p>This project was developed by Qky. I don't have any content on this site! Some content may be copyrighted to the authorities. Follow us for more FUN Project like this: D <a target="_blank" href="https://github.com/qkiemauln">View Github</a>. Also join our discord! <a target="_blank" href=https://discord.gg/j24UKsj>discord.gg/j24UKsj</a>. This project was classified as <b>HornyProjects</b></p>
                </div>
            </div>
            <div class="the-box-gui">
                <div class="content" id="vue-settingpanel">
                    <h3>🔧 Settings...</h3>
                    <!-- <p>Hmmm... Still Working on it. Last time we use cookie but now its act different. We will use LocalStorage instead</p> -->
                    <label for="data-42012" class="def-custom"><input id="data-42012" v-bind:checked="setting.forceCrop" v-on:input="updateSetting('forceCrop')" type="checkbox" v-model="setting.forceCrop" /> Force Crop To 300px<p>It will crop the picture into Square 300px, and its save alot of your internet comsumption (doesnt work with non-Discord url)</p></label>
                    <label for="data-42013" class="def-custom"><input id="data-42013" v-bind:checked="setting.uselessCh" v-on:input="updateSetting('uselessCh')" type="checkbox" v-model="setting.uselessCh" /> Hide Unnecessary Channels<p>Hide all Unnecessary channels like example: Rules, Announcement, Chatting, Bot-channel, etc</p></label>
                    <label for="data-42014" class="def-custom"><input id="data-42014" v-bind:checked="setting.hideVideo" v-on:input="updateSetting('hideVideo')" type="checkbox" v-model="setting.hideVideo" /> Hide Video<p>Hide all video. Click to view the video (to save internet comsumption)</p></label>
                </div>
            </div>
            <div class="the-box-gui sticky">
                <div class="content" id="vue-channels">
                    <h3>🔍 Find Channels...</h3>
                    <input class="search-bar" v-model="filter" v-on:input="filterChannels()" placeholder="my-channel" />
                    <div>
                        <button v-if="isNSFW" class="def-custom" v-on:click="toggleSFW()">Toggle SFW</button>
                        <button v-else-if="!isNSFW && !safeMode" class="def-custom" v-on:click="toggleNSFW()">Toggle NSFW</button>
                        <span v-if="safeMode"><i>* Safe Mode is enabled!</i></span>
                    </div>
                    <div class="channels-list">
                        <list-channels v-for="channel in channels" v-bind:unsafe="!safeMode" v-bind:useless="setting.uselessCh" v-bind:key="channel.id" v-bind:channel="channel">Loading Lol</list-channels>
                    </div>
                </div>
            </div>
        </div>
        <div class="layout-main" id="vue-posts">
            <post-template v-for="post in (posts.posts.length)?posts.posts:NoAttachment" v-bind:key="post.id" v-bind:username="post.user" v-bind:filename="post.filename" v-bind:timestamp="post.timestamp" v-bind:caption="post.msg" v-bind:attach="post.link" v-bind:pfp="post.pfp" v-bind:type="post.type"><div style="padding:10px;text-align: center;" class="the-box-gui loading"><h3>Loading Data...</h3></div></post-template>
            <div v-if="posts.data.fetchedMessages>99" style="padding:10px;text-align: center;" class="the-box-gui">
                <button v-bind:disabled="isLoad" v-on:click="loadMore()" class="def-custom" >➕ Load More...</button>
                <button v-on:click="goTop()" class="def-custom" >⏫ Go Up?</button>
            </div>
        </div>
        <div class="layout-main">
            <div class="the-box-gui sticky">
                <div class="content" id="vue-cdetails" v-bind:style="'display:block'" style="display: none;">
                    <h3>📃 Channel Details</h3>
                    <div>
                        <span>Channel Name</span>
                        <p>{{details.name}}</p>
                    </div>
                    <div>
                        <span>Channel topic</span>
                        <p>{{details.topic}}</p>
                    </div>
                    <div>
                        <span>Totals</span>
                        <p>{{totalData.messages}} Messages, {{totalData.attachs}} Total Attachments</p>
                    </div>
                    <div>
                        <span>Total Fetchs</span>
                        <p>{{details.fetchedMessages}} Fetched Messages, {{totalAttachs}} Total Fetched Attachments</p>
                    </div>
                </div>
                <hr/>
                <div class="content" id="extrase-retardation">
                    <h3>💖 Extras</h3>
                    <span for="just-the-date">Load based on date... <p>(Choose channels to reload)</p></span>
                    <div v-if="dateBasedSnowflake">Date Snowflake : {{dateBasedSnowflake}}</div>
                    <input v-on:input="changeVariable" v-model="dateBased" id="just-the-date" class="search-bar" style="margin-bottom: 10px;" type="date">
                    <button title="Unavailable f'now!" disabled class="def-custom">Get Server Invite</button>
                    <button v-on:click="downloadAll();" class="def-custom">Send to Downloader</button>
                    <button v-on:click="downloadJSON();" class="def-custom">Download as JSON</button>
                </div>
            </div>
        </div>
        <!-- <div class="layout-main">
            <div class="the-box-gui">Settings</div>
            <div class="the-box-gui">Admin Panels</div>
        </div> -->
        </v-app>
    </div>
    <script>
        setInterval(function(){
        twemoji.parse(document.body,{
            folder: 'svg',
            ext: '.svg'
        })}, 5000)
    </script>
</body>
</html>