@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root{
    /* --bg-color: #0b0d1b;
    --primary-color: #172043; */
    --bg-color: #0c1115;
    --primary-color: rgb(19, 37, 55);
    --secondary-color: #1c2e43;
    --grad-1: rgba(112, 248, 94, 0.4);
    --grad-2: rgba(95, 255, 95, 0.2);
}

/* *{
    border: 1px solid #00f !important;
} */

body{
    margin:0;
    background: var(--bg-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    font-size: 1.29em;
}
h3{
    font-size: 1.19em;
}
p{
    font-size: .80em;
}
hr{
    border: 0.5px solid #313842;
}
img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}
.main{
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    max-width: 1208px;
    margin: 20px auto;
}
.layout-main{
    padding: 5px 10px;
}
.the-box-gui{
    background: var(--primary-color);
    border-radius: 5px;
    color: #ffffff;
    box-shadow: 1px 1px 5px rgba(29, 41, 67, 0.4);
    margin: 0 auto;
    margin-bottom: 10px;
}
.the-box-gui.warning{
    background:#431717;
}

.loading{
    /* background: linear-gradient(45deg, #172043, #374063, #172043); */
    animation: a 2s infinite;
}

.sticky{
    position: sticky;
    top:5px;
}
input[type="date"]{
    color: #fff;
    text-shadow: 0 0 5px #ffffff;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    color: transparent;
    background: transparent;
}
.content{
    padding: 3px 15px;
    overflow: hidden;
    overflow-wrap: break-word;
}
.search-bar{
    width:100%;
    box-sizing: border-box;
    border: none;
    background:rgba(136, 155, 195, 0.4);
    padding: 8px 10px;
    border-radius: 5px;
    outline: none;
    color: #ffffff;
    font-size: .95em;
}
.changelog-domain {
    border-radius: 10px;
    margin-top: 20px;
    overflow: auto;
    word-break:normal;
    background-color: rgba(0, 0, 0, 0.392);
    padding: 10px 25px;
}
.changelog-domain pre{
    font-size: 1.2 em;
    font-family: Ubuntu;
    white-space: pre-wrap;
    line-height: 1.5em;
    word-wrap: break-word;
}
.channels-list{
    list-style-type: none;
    margin: 19px 0;
    border: 1px solid rgba(255,255,255,0.2);
    border-bottom: none;
    border-radius: 5px;
}
.channels-list a:link,.channels-list a:visited{
    all: unset;
    color: #ffffff;
    cursor: pointer;
    font-size: .8em;
}
.channels-list li span:last-child{
    position: relative;
}
.channels-list li{
    padding: 7px 10px;
    border-bottom:1px solid rgb(255, 255, 255, 0.2);
    transition: .2s;
    cursor: pointer;
}
.channels-list li:hover{
    background: rgb(255, 255, 255, 0.2);
}
.content.post-box .details{
    margin-bottom: 5px;
    display: flex;
}
.content.post-box .details img.pfp{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 10px 0;
}
.content.post-box .details .captions{
    margin-left:10px; 
    word-wrap: break-word;
    word-break: break-all;
}
.content.post-box .details p, .content .details h3{
    margin: 5px 0;
}
.content.post-box .attachment{
    text-align: center;
    box-sizing: border-box;
}
.content.post-box .attachment img.attachment-preview{
    max-width:100%;
    max-height:500px;
    border-radius: 5px;
    animation: a 2s infinite;
}
.content.post-box .attachment .gif-badge{
    background: rgba(20, 28, 46, 0.9);
    color: #ffffff;
    border-radius: 5px;
    padding: 5px 8px;
    z-index: 999;
    position: absolute;
    transform: translate(-38px, 3px);
}
.content.post-box .attachment video.attachment-preview{
    box-sizing: border-box;
    max-width:100%;
    max-height:500px;
    border-radius: 5px;
    animation: a 2s infinite;
}
.content.post-box .extras{
    margin: 10px 0;
    text-align: right;
}
button.def-custom{
    padding: 9px 12px;
    border: none;
    border-radius: 5px;
    background: rgb(255, 255, 255, 0.2);
    color: #ffffff;
    outline: none;
    cursor:pointer;
    margin: 4px 2px;
    font-size: .82em;
}
button.def-custom:disabled{
    color: #673b3b;
    background: rgba(124, 42, 42, 0.2);
    cursor:not-allowed
}

button.def-custom.green{
    background:rgb(42, 190, 67)
}
button.def-custom.green:disabled{
    color: #ffffff;
    background-image: linear-gradient(45deg, var(--grad-1) 25%, var(--grad-2) 25%, var(--grad-2) 50%, var(--grad-1) 50%, var(--grad-1) 75%, var(--grad-2) 75%, var(--grad-2) 100%);
    background-size: 56.57px 56.57px;
    animation: .5s stripewalk linear infinite;
    cursor:not-allowed
}
.timest{
    font-size:0.8em;
}
.the-badge{
    background: #a31919;
    border-radius: 5px;
    padding: 5px 7px;
    position: relative;
    left: 9px;
    float: right;
    top: -4px;
    font-size: 10px;
}
.flex{
    display:flex;
}
.navbar {
    position: sticky;
    display: none;
    top: 0px;
    width:100%;
    height: 60px;
    background: var(--primary-color);
    color: #ffffff;
    box-shadow: 0 10px 20px rgba(9, 11, 16, 0.4);
}
.three-line{
    display: grid;
    align-items: center;
    font-size: 30px;
    margin-right: 20px;
    cursor:pointer;
}
.hide{
    display: none !important;
}

.youtube-embed {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
}
.youtube-embed .embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media screen and (max-width:824px) {
    .main{
        grid-template-columns: minmax(150px, 2fr) 4fr;
    }
    .main .layout-main:last-child{
        display:none;
    }
}
@media screen and (max-width:500px) {
    .main{
        grid-template-columns: 1fr;
    }
    .main #the-main-nav{
        overflow-y:auto;
        position: fixed;
        height:calc( 100vh - 60px );
        top: 60px;
        background: var(--secondary-color);
        /* -moz-backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px); */
        animation:0.5s swipe-left;
        z-index:2;
    }
    .navbar{
        display: block;
        z-index: 999;
    }

}
@keyframes swipe-left{
    0%{transform: translatex(-100%);}
}
@keyframes stripewalk{
    0%{background-position: 0;}
    100%{background-position: 56.57px;}
}
@keyframes a{
    0%, 100%{
    }
    50% {
        background:#b4c0ff99;
    }
}